</div>
<div class="card-footer d-flex justify-content-evenly align-items-center fs-3 bg-transparent p-0">
    <a href="/"><i class="bi bi-house"></i></a>
    <a href="/task/add"><i class="bi bi-plus-square"></i></a>
</div>
</div>
</main>
</body>
</html>
