<%- include("partials/top") %>
<div class="p-5 bg-info rounded-2 shadow">
    <h3 class="text-center">Error 404</h3>
    <p class="fw-bold text-center">Page not found</p>
</div>
<%- include("partials/bottom") %>