<%- include('partials/top.ejs') %>

<form action="/priority/add" method="post">
    <h3>Add Priority</h3>
    <input type="text" placeholder="Priority Name" name="priorityName" class="form-control mb-3">
    <input type="color" name="color" class="mb-3 w-100" style="height: 50px;">
    <button class="btn btn-primary form-control">Add</button>
</form>

<%- include('partials/bottom.ejs') %>