<%- include('partials/top') %>

<div class="p-5 bg-info rounded-2 shadow">
    <p class="fw-bold text-center">Something went wrong</p><br>
    <p><%= error.sqlMessage %></p>
</div>


<%- include('partials/bottom') %>