.wrapper {
	max-width: 450px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

.category-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
    gap: 10px;
}

.category-list a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-weight: 600;
    text-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px 1px #000;
}